.no-drag {
  -ms-user-select: none; 
  -moz-user-select: -moz-none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  user-select:none;
}

a:link { color: #00299b;; text-decoration: none;}
a:visited { color: #00299b;; text-decoration: none;}
a:hover { color: #00299b;; text-decoration: none;}


.HeaderSection {
  margin: 0;
  position: relative;
  min-height: 100vh;
  background-image: url(https://poiemaweb.com/img/bg/1920x1080.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.PageHeader {
  position: absolute;
  top: 0.2vw;
  left: 0;
  width: 90%;
  margin-left: 5%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  height: 3vw;
}

.LogoContainer {
  -moz-user-select: block;
  position: absolute;
  top: 13%;
  left: 10px;
  font-size: 1.7vw;
  font-family: 'Bitter', serif;
}

.HelloMessage {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #f4f1ce;
  font-size: 3vw;
  font-weight: 300;
  text-align: center;
  /* vertical-align: baseline; */
  background: transparent;

  top: 32%;
  text-align: center;
  left: 20%;
  position: absolute;
}

.SocialSection{
  padding: 20px 0;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  bottom: 0.5vw;
  left: 90%;
  position: absolute;
}


.GitIcon {
  display: block;
  font-size: 38px;
  width: 32px;
  text-align: center;
}

.fa-github {
  color: #f4f1ce;
}

.wrap-header {
  text-align: center;
  display: block;
  margin:0 auto;
  position: relative;
  top: 47%;

}

.type-wrap {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 6vw;
  text-align: center;
  top: 45%;
  position: absolute;
  margin-left: 17.3%;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}


#typed {
  white-space:pre;
}


body {
  font-family: 'NanumSquare', sans-serif;
  font-weight: 500
}


::-moz-selection {
  background: #B8860B;
  color: #fff;
}

::selection {
  background: #B8860B;
  color: #fff;
}







.icon-p {
  margin-left: -45px;
}
@-webkit-keyframes ani-mouse {
    0% {
    opacity: 1;
    top: 29%;
    }
    15% {
    opacity: 1;
    top: 50%;
    }
    50% {
    opacity: 0;
    top: 50%;
    }
    100% {
    opacity: 0;
    top: 29%;
    }
}
@-moz-keyframes ani-mouse {
    0% {
    opacity: 1;
    top: 29%;
    }
    15% {
    opacity: 1;
    top: 50%;
    }
    50% {
    opacity: 0;
    top: 50%;
    }
    100% {
    opacity: 0;
    top: 29%;
    }
}
@keyframes ani-mouse {
    0% {
    opacity: 1;
    top: 29%;
    }
    15% {
    opacity: 1;
    top: 50%;
    }
    50% {
    opacity: 0;
    top: 50%;
    }
    100% {
    opacity: 0;
    top: 29%;
    }
}
 .scroll-btn {
    display: block;
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    text-align: center;
}
.scroll-btn > * {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
    color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 26px;
    height: 35px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 23px;
}
.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: white;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}