.block-header {
    border-radius: 5px 5px 0 0;
    background-color: #333333;;
    border-bottom: 1px solid #44475b;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    padding-left: 1.4vw;
}

.block-content {
    background-color: white;
    padding: 0.8vw;
    font-size: 1.4rem;
    padding-left: 1.4vw;
    padding-right: 1.4vw;
    padding-bottom: 3vw;
    box-shadow: -50px 0px 70px -80px #000000, 50px 0px 70px -80px #000000;
}

.block-title {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
}

.border-box {
    /* background-color: rgb(252, 144, 144); */
    background: radial-gradient(rgb(239, 224, 222), rgb(230, 177, 142)) fixed;
    padding: 5vw;
    padding-top: 3vw;
    padding-bottom: 7.5vw;
}


.table-hover {
    font-size: 1.4rem;
    color: black;
}


.over-due{
    font-weight: bold;
    color: black;
    text-decoration:line-through;
}

.in-due{
    font-weight: bold;
    color: rgb(23, 172, 70);
}

.future-due {
    color: rgb(170, 170, 170);
}


.bible-img {
    display: block; margin: 0px auto; max-width: 100%; height: auto; border:1px solid #eaeaea; padding: 0px;
}

.youtube-icon {
    font-size:22px;color:red
}


  .bottom-logo {
    background-color: rgb(241,243,246); 
    height: 65px; padding-top: 14px; 
    border-top: 1.3px solid rgb(163, 163, 163);
  }

  .bottom-p {
    text-align: center
  }

  tr {
      text-align: center;
  }


  .button-div {
    margin-bottom: 2vw;
    border-radius: 3px 3px 0 0;
  }

  .button-terminal {
    color: white;
    background-color: #44576C;
    border-color: #44576C;
    white-space: nowrap;
    margin: 0 0.25rem;
    margin-left:4px;
    margin-right:4px;
    padding:7px;
  }

  .btn-dark{
    font-weight: 700;
    font-size: 0.8vw;
    font-family: 'NanumSquare', sans-serif;
    width: 6vw;
    min-width: 15px;
    height: 2vw;
    min-height: 2vw;
    border-radius: 0.9vw;
    margin-left: 0.8vw;
  }


  #progress
  {
      height: 5px;
      /* background-color: #E90052; */
      background-color: #EB4159;
      position: fixed;
      top: 0;
      left: 0;
  }